doctype html
html
  head
    title Sandy 's Fitness Center
    block scripts
    block style
    
  body
    
    block content
    footer#footer
        | Copyright 2019 © Sandy's Fitness Center |  All Rights Reserved

