* {
  font-family: 'Comfortaa', cursive;
}
.container {
  min-height: 130vh;
}
h1 {
  margin: 32px 0;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}
h1:hover {
  text-decoration: underline;
  transition: 0.3s;
}

input {
  display: block;
  padding: 8px;
  margin: 15px auto;
  width: 50%;
  outline: none;
  border: 2px solid #b31c1cc7;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  margin: 4px auto;
  display: block;
  padding: 6px 12px;
  background: #8d1414c7;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: black;
  transition: 0.3s;
}
